*{
    margin: 7px;
    padding: 0;
    box-sizing: border-box;
    
}
/* <=======> HEADER <=======> */

.titulo{
    text-align: center;
    color: black;
    font-style:normal;
    font-family: monospace;
    font-weight: 56px;
    font-size: 75px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ini {
    border-radius: 15px;
    display: block;
}

.ini {
    transition: 3s;
    
        
    }

    .ini:hover {
        transform: scale(1.1)
    
    }
.menu1 {
        transition: 3s;
    }
.menu1:hover {
        transform: scale(1.3)
        
    }

.menu2 {
        transition: 3s;
    }
.menu2:hover {
        transform: scale(1.3)
        
    }
.menu3 {
        transition: 3s;
    }
.menu3:hover {
        transform: scale(1.3)
        
    }    
.menu4 {
        transition: 3s;
    }
.menu4:hover {
        transform: scale(1.3)
        
    }     


/*=====> BODY INDEX <=====*/

.foto1{
    border-radius: 15px;
}

.clace1 {
display: flex;
align-items: center;
justify-content: space-between;

}

.descripcion1 {
    font-family: monospace;
    font-size: 17px;
    
}
.descripcion2 {
    font-family: monospace;
    font-size: 17px;
}
.footer_apoyo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: monospace;
}
.iconos {
display:flex;
align-items: center;
justify-content: space-around;
}

/* <===== NOSOTROS   =====> */

.nos1 {
    background-image: url(../galeria/NOSOTROS1.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
font-family: monospace;
color: rgb(0, 0, 0);
font-size: 18px;
}
.nos2 {
    background-image: url(../galeria/NOSOTROS2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;   
    font-family: monospace;
    color: #a0e2c3;
    font-size: 18px;
}
/*<===APOYO====>*/
.apoyo_ {
    display: flex;
    align-content: center;
    align-items: center;  
    justify-content: space-arounds;
    font-size: 28px;  
    font-family: monospace;

}
.tit_apoyo{
    font-family: monospace;
    font-size: 36px;
    text-align: center;
}
.apoyo1 {
    margin: 25px;
    padding: 30px;
}

/*<====SERVICIO====>*/

.text_carousel2{
    color: black;
    font-family: monospace;
    font-size: 16px;
    font-style: ;
    
}
.tit_carousel2{
    color: black;
}

.carousel-inner{
    margin-right: 100px;
    padding: 40px;
}

/* ====> Contacto <==== */
.formulario1 {
    display: flex;
    align-items: center;
    width: 700px;
    background: royalblue;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    font-style: monospace;
    justify-content: center;
}
.control {
width: 100%;
background: #24303c;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #1f53c5;
}
.boton {
    
}